/*---------body DEBUT---------------------------- */
body
  {
  margin: 0;
  padding: 0;
  background-color: rgb(177, 106, 26);
  display: flex;
  justify-content: center;
  position: relative;
  margin: 20PX;
}

.player{
  font-family: 'Lato', sans-serif;
  font-size: 50px;
  display: flex;
  justify-content: center;
  margin-top: 100px;
}
/*---------body FIN---------------------------- */


/*---------CONSOLE DEBUT---------------------------- */
.console{
  display: flex;
  height: 100%;
  width: 100%;
}

.player1{
align-items: start;
height:800px;
width: 50%;
background-color: rgb(196, 195, 195);
}

.player2{
align-items: end;
height: 800px;
width: 50%;
background-color:  rgb(224, 224, 224);
}
.cercle {
  width: 20px;
  height: 20px;
  border-radius: 20px;
  background:rgb(255, 0, 0);
  margin-top: 20px;
  margin-left: 20px;
}
.player:active {
  font-family: 'Rubik Moonrocks', cursive;
}
.left-side{
  font-family: 'Lato', sans-serif;
}
.right-side{
  font-family: 'Lato', sans-serif;
}

/*---------CONSOLE FIN---------------------------- */


/*---------BOUTTON GAME DEBUT---------------------------- */
.btn-NP{
  height: 60px;
  width: auto;
  border: none;
  text-align: center;
  background-color:transparent;
  outline: none;
  font-size: 35px;
  font-family: 'Lato', sans-serif;
}
.btn-RD{
  height: 40px;
  width: auto;
  border: none;
  background-color:transparent;
  outline: none;
  font-size: 35px;
  font-family: 'Lato', sans-serif;
}
.btn-HO{
  height: 40px;
  width: auto;
  border: none;
  background-color:transparent;
  outline: none;
  font-size: 35px;
  font-family: 'Lato', sans-serif;
}
.btn-NP:hover {
  font-family: 'Rubik Moonrocks', cursive;
}
.btn-RD:hover {
  font-family: 'Rubik Moonrocks', cursive;
}
.btn-HO:hover {
  font-family: 'Rubik Moonrocks', cursive;
}
.material-symbols-rounded{
  font-size: 50px;
}

/*---------BOUTTON GAME FIN---------------------------- */

.de central{
  position: relative;
  margin: 60px -60px;
  height: 40px;
  width: 18px;

}

/*---------BOX CHIFFRE DEBUT ---------------------------- */

.box{
  display: flex;
  justify-content: center;
  width: auto;
  height: auto;
}
input{
  font-size: 20em;
  text-align:center;
  width: 400px;
  height: 400px;
  border: none;
  background-color:transparent;
  outline: none;
}

/*-----------BOX CHIFFRE FIN---------------------------- */

.thorw-dice{
  position:absolute;
  display: flex;
  justify-self: end;
  height: 40px;
  width: 120px;
  border: 0;
  line-height: 2.5;
  padding: 0 20px;
  font-size: 1rem;
  text-align: center;
  color: #fff;
  text-shadow: 1px 1px 1px #000;
  border-radius: 10px;
  background-color: rgba(117, 116, 116, 0.718);
}

.keep-dice{
  position:absolute;
  display: flex;
  justify-self: start;
  height: 40px;
  width: 120px;
  border: 0;
  line-height: 2.5;
  padding: 0 20px;
  font-size: 1rem;
  text-align: center;
  color: #fff;
  text-shadow: 1px 1px 1px #000;
  border-radius: 10px;
  background-color: rgba(117, 116, 116, 0.718);
}
/*-----------BOX BUTTON DEBUT---------------------------- */
.box-new-game{
  display: flex;
  justify-content: center;
  position: absolute;
  width: 100%;
  height:auto;
  background-color:transparent;
  margin-top: 10px;
}

.box-thorw-dice{
  display: flex;
  justify-content: center;
  position: absolute;
  width: 100%;
  height:auto;
  background-color:transparent;
  margin-top: 600px;
}

.box-keep-dice{
  display: flex;
  justify-content: center;
  position: absolute;
  width: 100%;
  height:auto;
  background-color:transparent;
  margin-top: 700px;
}

.box-images-dé{
  display: flex;
  justify-content: center;
  position: absolute;
  width: 100%;
  height:auto;
  background-color:transparent;
  margin-top: 270px;
}
.box-images-dé.hedden{
display:none
}
.box-current{
  display: flex;
  justify-content: center;
  width: auto;
  height:auto;
  background-color:transparent;
  
}

/*-----------BOX BUTTON FIN---------------------------- */

.images-dé-display{
  display: none; 
}
.images-dé{
  width: 160px;
  height:160px;
  border-radius: 20px;    
  list-style-type: none;     
}
.img-current{
  width: auto;
  height:auto;
  font-size: 1em;
  background-color: rgb(255, 0, 0);
  padding: 30px;
  border-radius: 20px;
}
.resultat{
  font-size:3em;
}
